/*  Main  */
/*  Main  */
/*  Main  */

:root {
    --first-color: #dcdcdc;
    --second-color: #767676;
    --third-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--third-color);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: var(--second-color);
}


/*  Container  */
/*  Container  */
/*  Container  */

.container {
    flex-grow: 1;
}



/*  Header  */ 
/*  Header  */ 
/*  Header  */ 

header {
    background-color: var(--first-color);
    width: 100%;
    height: 100%;
}

/*  Company logo and name  */
.logo-name {
    background-color: var(--first-color);
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    align-items: center;
}

.logo {
    margin-right: 1%;
    display: block;
}

.name-company {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    font-weight: bold;
    padding-right: 1%;
    color: var(--second-color);
}

.slogan {
    color: var(--second-color);
}

.name-slogan p {
    margin-bottom: 8%;
    margin-top: -3%;
}

/*  Contact block  */
.contact-info {
    color: var(--second-color);
    margin-right: 10%;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 5%;
    display: block;
}

.phone-numbers {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    flex-direction: column;
    padding: 0;
}

.phone-numbers a {
    margin-bottom: 0;
}

.phone-numbers a {
    text-decoration: none;
    color: var(--second-color);
}

.feedback a {
    color: var(--second-color);
    text-decoration: none;
    font-weight: bold;
}

.feedback a:hover {
    text-decoration: underline dashed;
}



/*  Menu  */
/*  Menu  */
/*  Menu  */

.menu {
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    text-align: center;
}

/*  Menu  */
.main-menu {
    color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-menu li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.main-menu a {
    color: var(--third-color);
    text-align: center;
    text-decoration: none;
}

.main-menu a:hover {
    text-decoration: underline;
}

.divider {
    font-size: 35px;
}

/*  Burger icon  */
.burger-line {
    position: relative;
    background-color: var(--third-color);
    inline-size: 30px;
    margin-block: 5px;
    block-size: 2px;
    transition: all 0.3s ease;
}

/*  Burger menu  */
.burger-menu {
    z-index: 2; 
    width: 100%;
    height: 100%;
    background: var(--second-color);
    transform: translateX(-100%);
    transition: transform 0.5s; 
    text-align: center;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
}

.burger-menu nav {
    list-style: none;
    padding: 0;
}

.burger-menu li {
    list-style: none;
    padding: 6px;
}

.burger-menu a {
    color: var(--third-color);
    text-decoration: none;
    font-size: 25px;
}

.burger-menu a:hover {
    text-decoration: underline;
}

.burger-menu.active {
	transform: translateX(0);
}

.burger-menu.active .burger-icon-close {
    display: block;
}

/*  Burger icon (close)  */
.burger-icon-close {
    z-index: 3;
    display: block;
    position: fixed;
    top: 2em;
    text-align: center;
    width: 30px;
    height: 30px;
    transform: translateX(-300%);
    transition: transform 0.5s; 
}

.burger-menu.active ~ .burger-icon-close {
    transform: translateX(0%);
}

.burger-icon-close .burger-line:nth-child(2) {
    transform: translateY(-3.5px) rotate(-45deg);
}

.burger-icon-close .burger-line:nth-child(1) {
    transform: translateY(3.5px) rotate(45deg);
}



/*  Slider  */
/*  Slider  */
/*  Slider  */

.slider {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: 0 auto; /* Додайте цей стиль для вирівнювання по центру */
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.slick-active {
    transition: opacity 0.5s ease-in-out;
}

.slick-prev,
.slick-next {
    all: initial;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; 
    border: none;
}

.slick-prev {
    left: 10%;
}

.slick-next {
    right: 10%;
}



/*  Content  */
/*  Content  */
/*  Content  */

.content {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/* Breadcrumbs */
.breadcrumbs {
    padding-left: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.breadcrumbs a {
    color: var(--second-color);
    padding: 5px;
    text-decoration: none;
}

.breadcrumbs a:hover  {
    text-decoration: underline;
}

/*  Left block  */
.left-content {
    float: left;
    padding-top: 1%;
    padding-left: 15%;
    width: 30%;
    height: 100%;
}

/*  Main menu  */
.navigation-goods ul {
    font-size: 18px;
}

.categories {
    list-style: none;
    margin: 0;
    transition: transform 0.5s;
}

.categories ul {
    font-size: 14px;
}

.categories a {
    text-decoration: none;
    color: var(--second-color);
}

.categories a:hover {
    text-decoration: underline;
}

.subcategories {
    white-space: nowrap;
    display: none;
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
}

.category-item:hover .subcategories {
    display: block;
    opacity: 1;
    visibility: visible;
}

.subcategories li {
    list-style-type: disc;
    list-style-position: inside;
    white-space: normal;
    padding-left: 15px;
}

.subcategories a {
    text-decoration: none;
    color: var(--second-color);
}

.subcategories a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/*  Adaptive menu  */
.menu-toggle {
    display: none;
    background-color: var(--second-color);
    color: var(--third-color);
    font-size: 24px;
    padding: 10px;
    border-color: var(--second-color);
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 3%;
    transform: translate(-45%, -50%);
    padding: 0;
    font-size: 40px;
    color: var(--third-color);
    transition: transform 0.5s;
    z-index: 7;
    border: none;
    background: none;
    outline: none;
}

.adaptive-menu.active .close-button {
    left: 110%;
}

.adaptive-menu {
    list-style: none;
    margin: 0;
    transition: transform 0.5s;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    background-color: var(--third-color);
    padding: 10px;
    z-index: 6;
    height: 100%;
    overflow: visible;
}

.adaptive-menu nav {
    display: block;
}

.adaptive-menu nav ul {
    list-style: none;
    padding: 0;
}

.adaptive-menu nav ul li {
    margin: 10px 0;
}

.adaptive-menu .categories li {
    font-size: 24px;
}

.adaptive-menu .subcategories li {
    font-size: 18px;
}

.menu-overlay {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/*  Price list  */
.price-list {
    text-align: center;
    font-size: 30px;
    margin-top: 65%;
    font-weight: bold;
}

.image-price-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-price-list img {
    max-width: 100%;
    height: auto;
}

.price-list a {
    color: var(--second-color);
    text-decoration: none;
}

/*  Center content  */
.center-content {
    padding-left: 1.5%;
    padding-right: 15%;
    float: right;
    position: relative;
    justify-content: center;
    padding-top: 1%;
    width: 70%;
}

/*  Product cards */
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    margin-bottom: 20px;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 230px;
    margin-right: 15px;
}

.description {
    font-size: 18px;
    width: 100%;
    height: fit-content;
    padding: 20px;
}

.description img {
    width: 100%;
    padding-bottom: 5%;
}

.description a {
    text-decoration: none;
    color: var(--second-color);
}

.buy {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    padding-bottom: 10%;
}

.price {
    font-weight: bold;
    font-size: 28px;
}

.basket {
    padding-right: 10px;
}

/*  Pagination */
.pagination {
	clear: both;
	text-align: center;
	padding-top: 2.5%;
}

.pagination a {
    color: var(--second-color);
	font-size: 14px;
	text-decoration: none;
	margin-right: 10px;
}

.pagination a:nth-child(3) {
    font-size: 18px;
    font-weight: bold;
}

/* Divider */
hr {
    margin-bottom: 2.5%;
    margin-top: 2%;
}

/*  Useful info  */
.useful-info {
    margin-bottom: 20%;
    display: flex;
    justify-content: space-between;
}

.left-info {
    flex: 1;
}

.right-info {
    margin-left: 5%;
    flex: 1;
}



/*  Footer  */
/*  Footer  */
/*  Footer  */

footer {
    margin-top: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
}

.footer-content {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content a {
    text-decoration: underline;
    color: var(--third-color);
}

.footer-content p {
    color: var(--third-color);
}

.copyright {
    padding-right: 10%;
}

.copyright a {
    text-decoration: none;
    color: var(--third-color);
}

.copyright a:hover {
    text-decoration: underline;
}

.footer-menu {
    padding-right: 10%;
}

.footer-menu li {
    list-style: none;
    color: var(--third-color);
}

.site-developer {
    width: fit-content;
    display: flex;
    align-items: flex-start;
}

.logo-dev {
    margin-top: 4px;
    margin-right: 10px;
}

.name-dev {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/*  Feedback form  */
/*  Feedback form  */
/*  Feedback form  */

.feedback-form {
    width: fit-content;
    height: fit-content;
    display: none;
    position: fixed;
    align-items: center;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--third-color);
    padding: 20px;
    z-index: 7;
    opacity: 0;
}

.fadeIn {
    animation: fadeInAnimation 1s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOutAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.feedback-form textarea {
    height: 140px;
    width: 340px;
    border: #000;
    resize: none;
}

.form-input,
textarea.form-input {
    border: 1px solid var(--second-color); 
    padding: 5px 10px;
}

.feedback-form h1 {
    margin-bottom: 25px;
    font-size: 22px;
}

.form-label, .form-input {
    margin-bottom: 5%;
    margin-top: 1%; 
}

.feedback-form input {
    height: 40px;
    width: 340px;
}

.feedback-form img {
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--second-color);
    transform: translate(100%, -100%);
}

#submit {
    background-color: var(--second-color);
    color: #fff;
    margin-top: 5%;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

.overlay {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

textarea:focus, input:focus {
    outline: 0;
}

.form-input.activated:focus:invalid,
textarea.form-input.activated:focus:invalid {
    border: solid 2px #F5192F;
    box-shadow: inset 0 0 5px #F5192F;
}

.form-input.activated:focus::placeholder,
textarea.form-input.activated:focus::placeholder {
    font-style: italic;
    color: #F5192F;
}

::-webkit-input-placeholder {
    color: rgba(220, 127, 127, 0);
}

.toolltip {
    position: relative;
}

.tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



/*  Adaptive  */
/*  Adaptive  */
/*  Adaptive  */

@media only all {
    /*  If the screen width is the more than 2000 pixels  */
    @media only all and (min-width: 2000px) {
        .logo-name {
            margin-left: 10%;
        }
        
        .logo-name img {
            width: 150px;
            height: 150px;
        }

        .name-company {
            font-size: 35px;
        }

        .slogan {
            font-size: 25px;
        }

        .phone-numbers a {
            font-size: 45px;
        }

        .feedback a {
            font-size: 25px;
        }

        .main-menu a {
            font-size: 30px;
        }
    }

    /*  If the screen width is in the range 1800 - 2000 pixels  */
    @media only all and (max-width: 2000px) {
        .logo-name {
            margin-left: 10%;
        }
        
        .logo-name img {
            width: 135px;
            height: 135px;
        }

        .name-company {
            font-size: 30px;
        }

        .slogan {
            font-size: 25px;
        }

        .phone-numbers {
            font-size: 40px;
        }

        .feedback a {
            font-size: 25px;
        }

        .main-menu {
            font-size: 20px;
        }

        .main-menu a {
            font-size: 30px;
        }
    }

    /*  If the screen width is in the range 1600 - 1800 pixels  */
    @media only all and (max-width: 1800px){
        .logo-name {
            margin-left: 10%;
        }
        
        .logo-name img {
            width: 170px;
            height: 170px;
        }

        .name-company {
            font-size: 35px;
        }

        .slogan {
            font-size: 25px;
        }

        .phone-numbers {
            font-size: 35px;
        }

        .feedback a {
            font-size: 25px;
        }

        .main-menu a {
            font-size: 30px;
        }
    }

    /*  If the screen width is in the range 1400 - 1600 pixels  */
    @media only all and (max-width: 1600px) {
        .logo-name {
            margin-left: 10%;
        }
        
        .logo-name img {
            width: 145px;
            height: 145px;
        }

        .name-company {
            font-size: 30px;
        }

        .slogan {
            font-size: 20px;
        }

        .phone-numbers {
            font-size: 35px;
        }

        .feedback a {
            font-size: 25px;
        }

        .main-menu a {
            font-size: 30px;
        }
    }

    /*  If the screen width is in the range 1200 - 1400 pixels  */
    @media only all and (max-width: 1400px) {
        .logo-name {
            margin-left: 10%;
        }
        
        .logo-name img {
            width: 120px;
            height: 120px;
        }

        .name-company {
            font-size: 30px;
        }

        .slogan {
            font-size: 20px;
        }

        .phone-numbers {
            font-size: 30px;
        }

        .feedback a {
            font-size: 20px;
        }

        .main-menu a {
            font-size: 25px;
        }
    }

    /*  If the screen width is in the range 815 - 1200 pixels  */
    @media only all and (max-width: 1200px) {
        .logo-name {
            margin-left: 10%;
        }
        
        .logo-name img {
            width: 95px;
            height: 95px;
        }

        .name-company {
            font-size: 25px;
        }

        .slogan {
            font-size: 15px;
        }

        .phone-numbers {
            font-size: 25px;
        }

        .feedback a {
            font-size: 15px;
        }

        .main-menu a {
            font-size: 20px;
        }

        .left-content, .breadcrumbs {
            padding-left: 10%;
        }

        .useful-info {
            flex-direction: column;
            align-items: stretch;
        }
    
        .right-info {
            margin-left: 0;
            margin-top: 5%; /* або інше значення за вашим бажанням */
        }
    }

    /*  Edits for the for the product cards  */
    @media only all and (max-width: 920px) {
        .card {
            width: 170px;
        }

        .card .price {
            font-size: 20px;
        }
    }

    /*  If the screen width is in the range 650 - 815 pixels  */
    @media only all and (max-width: 815px) {
        .logo-name {
            margin-left: 10%;
        }
        
        .logo-name img {
            width: 90px;
            height: 90px;
        }

        .name-company {
            font-size: 20px;
        }

        .slogan {
            font-size: 15px;
        }

        .phone-numbers {
            font-size: 20px;
        }

        .feedback a {
            font-size: 14px;
        }

        .main-menu {
            display: none;
        }

        .burger-line {
            display: block;
        }

        .left-content, .breadcrumbs {
            padding-left: 5%;
        }

        .left-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .adaptive-menu.active {
            transform: translateX(0); 
            position: fixed;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
        }

        .adaptive-menu .categories li {
            font-size: 24px;
        }
        
        .adaptive-menu .subcategories li {
            font-size: 18px;
        }
        
        .navigation-goods {
            display: none;
        }

        .menu-toggle {
            margin-bottom: 10%;
            border: none;
            display: block;
        }

        .feedback-form input {
            height: 30px;
            width: 300px;
        }

        .feedback-form textarea {
            height: 120px;
            width: 300px;
        }        
    }

    /*  Edits for the gallery  */
    @media only all and (max-width: 690px) {
        .gallery {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }  
    }

    /*  If the screen width is in the range 550 - 650 pixels  */
    @media only all and (max-width: 650px) {
        .logo-name {
            margin-left: 10%;
        }
        
        .logo-name img {
            width: 80px;
            height: 80px;
        }

        .name-company {
            font-size: 20px;
        }

        .slogan {
            font-size: 13px;
        }

        .phone-numbers {
            font-size: 17px;
            margin-bottom: -3%;
        }

        .feedback a {
            font-size: 11px;
        }

        .main-menu {
            display: none;
        }

        .burger-line {
            display: block;
        }

        .price-list img {
            height: 95px;
            width: auto;
        }

        .price-list p {
            font-size: 25px;
        }
    }

    /*  If the screen width is in the range 490 - 550 pixels  */
    @media only all and (max-width: 550px) {
        .logo img {
            height: 70px;
            width: 70px;
        }

        .name-company {
            font-size: 17px;
        }

        .slogan {
            font-size: 11px;
        }

        .phone-numbers {
            font-size: 15px;
        }

        .price-list img {
            height: 75px;
            width: auto;
        }

        .price-list p {
            font-size: 20px;
        }
        
        .pagination {
            padding-bottom: 10%;
        }

        .pagination a {
            margin-right: 5px;
        }

        hr, .useful-info {
            margin-left: -40%;
        }
    }

    /*  Edits for the footer  */
    @media only all and (max-width: 530px) {
        .copyright {
            padding-bottom: 5%;
        }

        .footer-menu {
            padding-bottom: 5%;
        }
    }

    /*  If the screen width is in the range 400 - 490 pixels  */ 
    @media only all and (max-width: 490px) {
        .logo img {
            height: 55px;
            width: 55px;
        }

        .name-company {
            font-size: 15px;
        }

        .slogan {
            font-size: 10px;
        }

        .phone-numbers {
            font-size: 14px;
            margin-bottom: -6%;
        }

        .feedback a {
            font-size: 10px;
        }

        .menu {
            padding: 10px;
        }

        .menu-toggle {
            font-size: 20px;
        }

        .adaptive-menu .categories li {
            font-size: 20px;
        }
        
        .adaptive-menu .subcategories li {
            font-size: 14px;
        }

        .feedback-form input {
            height: 30px;
            width: 260px;
        }

        .feedback-form textarea {
            height: 140px;
            width: 260px;
        }
        
        .feedback-form h1 {
            margin-bottom: 25px;
            font-size: 22px;
        }
    }

    /*  If the screen width is in the range 260 - 400 pixels  */
    @media only all and (max-width: 400px) {
        .logo img {
            height: 40px;
            width: 40px;
        }

        .name-company {
            font-size: 9px;
        }

        .slogan {
            font-size: 7px;
        }

        .contact-info {
            top: 7px;
            margin-left: 65%;
        }

        .phone-numbers {
            font-size: 9px;
            margin-bottom: -12%;
        }

        .feedback a {
            font-size: 7px;
        }

        .burger-icon .burger-line {
            inline-size: 15px;
        }

        .menu {
            padding: 5px;
        }

        .burger-icon .burger-line {
            margin-block: 2px;
        }

        .burger-menu a {
            font-size: 15px;
        }

        .burger-icon-close {
            width: 15px;
            height: 15px;
            top: 1em;
        }

        .burger-icon-close .burger-line {
            inline-size: 15px;
        }

        .burger-icon-close .burger-line:nth-child(1) {
            transform: translateY(3.5px) rotate(45deg);
        }

        .burger-icon-close .burger-line:nth-child(2) {
            transform: translateY(-3.5px) rotate(-45deg);
        }

        .adaptive-menu .categories li {
            font-size: 18px;
        }
        
        .adaptive-menu .subcategories li {
            font-size: 14px;
        }

        .menu-toggle {
            font-size: 16px;
            padding: 5px;
        }

        .close-button {
            font-size: 20px;
        }

        .price-list img {
            height: 55px;
            width: auto;
        }

        .price-list p {
            font-size: 15px;
        }

        .card {
            width: 165px;
        }

        .basket img {
            height: 20px;
            width: 20px;
        }

        .feedback-form input {
            height: 25px;
            width: 260px;
        }

        .feedback-form textarea {
            height: 100px;
            width: 260px;
        }
        
        .feedback-form h1 {
            margin-bottom: 25px;
            font-size: 18px;
        }
    }

    /*  Edits for the feedback form and adaptive menu  */
    @media only all and (max-width: 375px) {
        .feedback-form {
            top: 40%;
        }

        .feedback-form input {
            height: 30px;
            width: 220px;
        }

        .feedback-form textarea {
            height: 60px;
            width: 220px;
        }

        .adaptive-menu .categories li {
            font-size: 14px;
        }
        
        .adaptive-menu .subcategories li {
            font-size: 12px;
        }
    }

    /*  If the screen width is less than 260 pixels  */
    @media only all and (max-width: 320px) {
        .feedback-form input {
            height: 30px;
            width: 200px;
        }

        .feedback-form textarea {
            height: 60px;
            width: 200px;
        }

        .adaptive-menu .categories li {
            font-size: 14px;
        }
        
        .adaptive-menu .subcategories li {
            font-size: 10px;
        }
    }

    /*  Edits for the slider  */
    @media only all {
        @media only all and (min-width: 2000px) {
            .slick-prev img,
            .slick-next img {
                height: 95px;
            }
        }

        @media only all and (max-width: 2000px) {
            .slick-prev img,
            .slick-next img {
                height: 75px;
            }
        }

        @media only all and (max-width: 1600px) {
            .slick-prev img,
            .slick-next img {
                height: 55px;
            }
        }

        @media only all and (max-width: 800px) {
            .slick-prev img,
            .slick-next img {
                height: 35px;
            }
        }

        @media only all and (max-width: 450px) {
            .slick-prev img,
            .slick-next img {
                height: 25px;
            }
        }

        @media only all and (max-width: 250px) {
            .slick-prev img,
            .slick-next img {
                height: 15px;
            }
        }
    }
}