:root {
    --first-color: lightgray;
    --second-color: gray;
    --third-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--first-color);
    padding: 0;
    margin: 0;
}

.header {
    background-color: var(--first-color);
    width: 100%;
    height: 100%;
}

.logo-name {
    background-color: var(--first-color);
    display: flex;
    padding: 0.5%;
    align-items: center;
    margin-top: 2%;
    margin-left: 12%;
    margin-bottom: 3%;
}

.logo {
    margin-right: 1%;
    display: block;
}

.logo img {
    height: 150px;
    width: 150px;
}

.name-company {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: var(--second-color);
}

.slogan {
    color: var(--second-color);
}

.name-slogan p {
    margin-bottom: 8%;
    margin-top: -3%;
}

.contact-info {
    color: var(--second-color);
    margin-right: 10%;
    text-align: right;
    position: absolute;
    top: 10px;
    margin-left: 70%;
    display: block;
}

.contact-info a {
    color: var(--second-color);
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline dashed;
}

.phone-numbers {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    flex-direction: column;
    padding: 0;

}

.phone-numbers p {
    margin-bottom: 0;
}

.menu {
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    color: var(--third-color);
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.main li {
    display: inline-block;
    margin-right: 20px;
}

.main a {
    color: var(--third-color);
    text-decoration: none;
    vertical-align: middle;
}

.main a:hover {
    text-decoration: underline;
}

.menu-line {
    background-color: var(--third-color);
    inline-size: 350px;
    margin-block: 5px;
    block-size: 2px;
}

.burger-menu {
    display: none;
    position: absolute;
    background-color: var(--second-color);
    left: 50%;
    transform: translateX(-50%);
}

.burger-menu ul {
    list-style: none;
    padding: 0;
}

.burger-menu li {
    padding: 10px;
}

.burger-menu a {
    color: var(--third-color);
    text-decoration: none;
    font-size: 18px;
    transition: left 0.5s ease;
}

.burger-menu a:hover {
    text-decoration: underline;
}

/*Для екранів від 2300 пікселів */
@media only all and (min-width: 2300px) {
    .logo img {
        height: 145px;
        width: 145px;
    }

    .name-company {
        font-size: 40px;
    }

    .slogan {
        font-size: 145%;
    }

    .contact-info {
        font-size: 55%;
        top: 10px;
        margin-left: 75%;
    }
    
    .contact-info a {
        font-size: 350%;
    }
    
    .phone-numbers {
        font-size: 540%;
    }

    .main {
        font-size: 35px;
    }

    .menu-line {
        display: none;
    }
}

/*Для екранів від 1200 до 2300 пікселів*/
@media only all and (max-width: 2300px) {
    .logo-name {
        margin-bottom: 1.5%;
    }
    
    .logo img {
        height: 95px;
        width: 95px;
    }
    
    .name-company {
        font-size: 25px;
    }
    
    .slogan {
        font-size: 75%;
    }
    
    .contact-info {
        font-size: 55%;
        top: 10px;
        margin-left: 75%;
    }
    
    .contact-info a {
        font-size: 160%;
    }
    
    .phone-numbers {
        font-size: 290%;
    }

    .menu-line {
        display: none;
    }
} 

/*Для екранів від 700 до 1200 пікселів*/
@media only all and (max-width: 1200px) {
    .logo {
        margin-right: 1%;
        display: block;
    }
    
    .logo img {
        height: 75px;
        width: 75px;
    }
    
    .name-company {
        font-size: 15px;
    }
    
    .slogan {
        font-size: 65%;
    }
    
    .contact-info {
        font-size: 80%;
        margin-left: 70%;
    }
    
    .contact-info a {
        font-size: 95%;
    }
    
    .phone-numbers {
        font-size: 170%;
    }

    .menu-line {
        display: none;
    }
}

/*Введення бургер меню */
@media only all and (max-width: 900px) {
    .menu-line {
        display: block;
        inline-size: 350px;
        margin-block: 5px;
        block-size: 2px;
    }

    .main li {
        display: none;
    }

    .burger-menu {
        display: none;
    }
}

/*Зміни для нормального відображення номерів телефону та тексту "Зворотній зв'язок" між 1200 та 600 пікселями*/
@media only all and (max-width: 700px) {
    .contact-info {
        font-size: 65%;
    }
    
    .contact-info a {
            font-size: 100%;
    }

    .phone-numbers {
        font-size: 150%;
    }
}

/*Для екранів від 400 до 600 пікселів*/
@media only all and (max-width: 600px) {
    .logo-name {
        margin-top: 2%;
        margin-left: 9.5%;
        margin-bottom: 1.5%;
    }
    
    .logo img {
        height: 45px;
        width: 45px;
    }
    
    .name-company {
        font-size: 10px;
    }
    
    .slogan {
        font-size: 50%;
    }
    
    .contact-info {
        font-size: 55%;
    }
    
    .contact-info a {
        font-size: 100%;
    }
    
    .phone-numbers {
        font-size: 140%;
    }

    .burger-menu {
        display: none;
    }

    .main li {
        display: none;
    }

    .menu-line {
        display: block;
        inline-size: 300px;
    }
}

/*Для екранів до 400 пікселів*/
@media only all and (max-width: 400px) {
    .logo img {
        height: 35px;
        width: 35px;
    }
    
    .name-company {
        font-size: 7px;
    }
    
    .slogan {
        font-size: 25%;
    }
    
    .contact-info {
        font-size: 55%;
        top: 5px;
    }
    
    .contact-info a {
        font-size: 85%;
    }
    
    .phone-numbers {
        font-size: 100%;
    }

    .burger-menu {
        display: none;
    }

    .main li {
        display: none;
    }

    .menu-line {
        display: block;
        inline-size: 250px;
    }

}

/*Для екранів до 300 пікселів*/
@media only all and (max-width: 300px) {
    
    .logo img {
        height: 25px;
        width: 25px;
    }
    
    .name-company {
        font-size: 5px;
    }
    
    .slogan {
        font-size: 25%;
    }
 
    .contact-info {
        font-size: 50%;
    }
    
    .contact-info a {
        font-size: 60%;
    }
    
    .phone-numbers {
        font-size: 80%;
    }
    
    .burger-menu {
        display: none;
    }

    .main li {
        display: none;
    }
    
    .menu-line {
        display: block;
        inline-size: 150px;
    }
}